* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/* UTILITY */

.row {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.col {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.btn {
    width: 200px;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
}

.btn-sm {
    width: 150px;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
}

.text-center {
    text-align: center;
}

.margin-top-30px {
    margin-top: 30px;
}

.margin-top-60px {
    margin-top: 60px;
}

.margin-20px-60px {
    margin: 20px 60px;
}

.margin-30px {
    margin: 30px;
}

.margin-30px-0 {
    margin: 30px 0;
}

.margin-0-25px {
    margin: 0 25px;
}

.padding-top-30px {
    padding-top: 30px;
}

.width-70-img {
    width: 70%;
}

.container-img {
    display: flex;
    justify-content: center;
}

.color-white {
    color: white;
}

.bold {
    font-weight: bold;
}

.line-height {
    line-height: 2;
}

/* HEADER */

.row-header {
    width: 100%;
    display: flex;
}

.col-header {
    width: calc(100%/2);
    display: flex;
    align-items: center;
    margin: 25px 30px;
}

.col-header i {
    font-size: 30px;
}

header {
    background-color: #0084FD;
    height: 80px;
    color: white;
}

/* MAIN */

/* SECTION 1 */

.container-blu {
    background-color: #B5DDFF;
    border-radius: 30px;
    margin: 30px 30px;
    display: flex;
    flex-direction: column;
    line-height: 2;
}

.container-blu h1 {
    color: #0084FD;
    font-size: 26px;
    text-align: center;
}

.container-blu p {
    color: #5A6E7F;
    font-size: 18px;
    font-weight: bold;
}

.btn-apple {
    background-color: #0084FD;
    color: white;
    border: 1px #0084FD solid;
}

.container-img i {
    font-size: 100px;
    color: #0084FD;
}

/* SECTION 2 */

.bg-purple {
    background-color: #9792E4;
}

.container-text-sec2 {
    line-height: 2;
}

.container-text-sec2 h1 {
    font-size: 35px;
    margin-bottom: 20px;
}

.bg-white {
    background-color: white;
    margin: 30px 30px;
    border-radius: 30px;
}

.bg-white p {
    font-size: 15px;
}

.btn-circle {
    background-color: #9792E4;
    border: 1px solid #9792E4;
    border-radius: 50%;
    padding: 15px 20px;
    font-size: 25px;
    margin: 30px;
}

/* SECTION 3 */

.container-text-sec3 {
    text-align: center;
}

.container-text-sec3 h3 {
    text-transform: uppercase;
}

.container-text-sec3 h1 {
    line-height: normal;
    color: #9792E4;
    font-weight: bold;
    font-size: 35px;
}

.container-text-sec3 p {
    font-size: 23px;
}

/* CARD */

.container-purple {
    background-color: #9792E4;
    border-radius: 30px;
}

.container-img img {
    border-radius: 50%;
    width: 230px;
    height: 200px;
}

.container-purple p {
    font-size: 20px;
}

.container-purple h3 {
    text-transform: uppercase;
}

/* SECTION4 */

.bg-purple h1 {
    font-size: 30px;
}

.btn-purple {
    background-color: #9792E4;
    border: 1px solid #9792E4;
    color: white;
}

.cards-benefits h1 {
    font-size: 55px;
    color: #9792E4;
}

.cards-benefits h3 {
    color: #9792E4;
    font-size: 30px;
}

.cards-benefits p {
    font-size: 18px;
}