* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.row-header {
    width: 100%;
    display: flex;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.col {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header {
    background-color: #0084FD;
    height: 80px;
    color: white;
}

.col-header {
    width: calc(100%/2);
    display: flex;
    align-items: center;
    margin: 25px 30px;
}

.col-header i {
    font-size: 30px;
}

.flex-end {
    justify-content: flex-end;
}

.container-blu {
    background-color: #B5DDFF;
    border-radius: 30px;
    margin: 50px 30px;
    display: flex;
    flex-direction: column;
    line-height: 2;
}

.container-blu h1 {
    color: #0084FD;
    font-size: 26px;
    margin-top: 30px;
    text-align: center;
}

.container-blu p {
    color: #5A6E7F;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 60px;
}

.btn {
    width: 200px;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
}

.btn-apple {
    background-color: #0084FD;
    color: white;
    border: 1px #0084FD solid;
    margin: 20px 60px;
}

.phone-img {
    display: flex;
    justify-content: center;
}

.phone-img img {
    width: 70%;
}

.bg-purple {
    background-color: #9792E4;
    height: 500px;
    width: 500px;
}